@use 'sass:color';

$action-primary-main-default-color: color.adjust(#cbb168);
$action-primary-main-hover-color: color.adjust(#a89256);
$action-primary-main-pressed-color: color.adjust(#8b7947);
$action-primary-main-disabled-color: 66;
$action-primary-negative-default-color: color.adjust(#ddcc9b);
$action-primary-negative-hover-color: color.adjust(#e6d9b4);
$action-primary-negative-pressed-color: color.adjust(#eee5cc);
$action-primary-negative-disabled-color: 66;
$action-visited-main-default-color: color.adjust(#5f07e4);
$action-visited-main-hover-color: color.adjust(#5306c6);
$action-visited-main-pressed-color: color.adjust(#4405a4);
$action-visited-main-disabled-color: 66;
$action-visited-negative-default-color: color.adjust(#aa74fb);
$action-visited-negative-hover-color: color.adjust(#c8a6fc);
$action-visited-negative-pressed-color: color.adjust(#dec8fd);
$action-visited-negative-disabled-color: 66;
$action-tertiary-main-default-color: color.adjust(#fafafa);
$action-tertiary-main-hover-color: color.adjust(#f4f4f4);
$action-tertiary-main-pressed-color: color.adjust(#e9e9e9);
$action-tertiary-main-disabled-color: 66;
$action-tertiary-negative-default-color: color.adjust(#49484b);
$action-tertiary-negative-hover-color: color.adjust(#605f62);
$action-tertiary-negative-pressed-color: color.adjust(#777678);
$action-tertiary-negative-disabled-color: 66;
$action-ghost-main-default-color: color.adjust(#fff);
$action-ghost-main-hover-color: color.adjust(#f4f4f4);
$action-ghost-main-pressed-color: color.adjust(#e9e9e9);
$action-ghost-main-disabled-color: 66;
$action-ghost-negative-default-color: color.adjust(#424144);
$action-ghost-negative-hover-color: color.adjust(#49484b);
$action-ghost-negative-pressed-color: color.adjust(#605f62);
$action-ghost-negative-disabled-color: 66;
$text-main-level-1-color: color.adjust(#424144);
$text-main-level-2-color: color.adjust(#605f62);
$text-main-level-3-color: color.adjust(#777678);
$text-main-level-4-color: color.adjust(#8e8d8f);
$text-main-level-5-color: color.adjust(#a4a4a5);
$text-main-primary-accent-color: color.adjust(#cbb168);
$text-negative-level-1-color: color.adjust(#fff);
$text-negative-level-2-color: color.adjust(#e9e9e9);
$text-negative-level-3-color: color.adjust(#d2d2d2);
$text-negative-level-4-color: color.adjust(#a4a4a5);
$text-negative-level-5-color: color.adjust(#8e8d8f);
$text-negative-primary-accent-color: color.adjust(#ddcc9b);
$text-constant-light-level-1-color: color.adjust(#424144);
$text-constant-light-level-2-color: color.adjust(#605f62);
$text-constant-light-level-3-color: color.adjust(#777678);
$text-constant-light-level-4-color: color.adjust(#8e8d8f);
$text-constant-light-level-5-color: color.adjust(#a4a4a5);
$text-constant-light-primary-accent-color: color.adjust(#cbb168);
$text-constant-dark-level-1-color: color.adjust(#fff);
$text-constant-dark-level-2-color: color.adjust(#e9e9e9);
$text-constant-dark-level-3-color: color.adjust(#d2d2d2);
$text-constant-dark-level-4-color: color.adjust(#a4a4a5);
$text-constant-dark-level-5-color: color.adjust(#8e8d8f);
$text-constant-dark-primary-accent-color: color.adjust(#ddcc9b);
$background-main-level-1-color: color.adjust(#fff);
$background-main-level-2-color: color.adjust(#fafafa);
$background-main-level-3-color: color.adjust(#f4f4f4);
$background-main-level-4-color: color.adjust(#e9e9e9);
$background-main-level-5-color: color.adjust(#d2d2d2);
$background-main-primary-accent-color: color.adjust(#cbb168);
$background-negative-level-1-color: color.adjust(#424144);
$background-negative-level-2-color: color.adjust(#49484b);
$background-negative-level-3-color: color.adjust(#605f62);
$background-negative-level-4-color: color.adjust(#777678);
$background-negative-level-5-color: color.adjust(#8e8d8f);
$background-negative-primary-accent-color: color.adjust(#ddcc9b);
$background-constant-light-level-1-color: color.adjust(#fff);
$background-constant-light-level-2-color: color.adjust(#fafafa);
$background-constant-light-level-3-color: color.adjust(#f4f4f4);
$background-constant-light-level-4-color: color.adjust(#e9e9e9);
$background-constant-light-level-5-color: color.adjust(#d2d2d2);
$background-constant-light-primary-accent1-color: color.adjust(#cbb168);
$background-constant-dark-level-1-color: color.adjust(#424144);
$background-constant-dark-level-2-color: color.adjust(#49484b);
$background-constant-dark-level-3-color: color.adjust(#605f62);
$background-constant-dark-level-4-color: color.adjust(#777678);
$background-constant-dark-level-5-color: color.adjust(#8e8d8f);
$background-constant-dark-primary-accent-color: color.adjust(#ddcc9b);
$control-main-background-color: color.adjust(#fff);
$control-main-border-default-color: color.adjust(#d2d2d2);
$control-main-border-hover-color: color.adjust(#a4a4a5);
$control-main-active-color: color.adjust(#cbb168);
$control-main-active-hover-color: color.adjust(#a89256);
$control-negative-background-color: color.adjust(#424144);
$control-negative-border-default-color: color.adjust(#777678);
$control-negative-border-hover-color: color.adjust(#8e8d8f);
$control-negative-active-color: color.adjust(#ddcc9b);
$control-negative-active-hover-color: color.adjust(#e6d9b4);
$error-main-background-color: color.adjust(#fef2f2);
$error-main-text-color: color.adjust(#7f1d1d);
$error-negative-background-color: color.adjust(#7f1d1d);
$error-negative-text-color: color.adjust(#fef2f2);
$success-main-background-color: color.adjust(#e0ffee);
$success-main-text-color: color.adjust(#00612c);
$success-negative-background-color: color.adjust(#00612c);
$success-negative-text-color: color.adjust(#e0ffee);
$tag-background-1-color: color.adjust(#374151);
$tag-background-2-color: color.adjust(#e5e7eb);
$tag-background-3-color: color.adjust(#713f12);
$tag-background-4-color: color.adjust(#f0fdfa);
$tag-text-1-color: color.adjust(#e5e7eb);
$tag-text-2-color: color.adjust(#374151);
$tag-text-3-color: color.adjust(#fef9c3);
$tag-text-4-color: color.adjust(#134e4a);

// $box-shadow-dropdown-main-large: 0 10px 0 20 color.adjust(3d);
