$action-primary-negative-default-color: #a6925f;
$action-primary-negative-hover-color: #8b7a4e;
$action-primary-negative-pressed-color: #6c5e3a;
$action-primary-negative-disabled-color: 66;
$action-primary-main-default-color: #e0d385;
$action-primary-main-hover-color: #ebe0a2;
$action-primary-main-pressed-color: #f5efcc;
$action-primary-main-disabled-color: 66;
$action-visited-negative-default-color: #5f07e4;
$action-visited-negative-hover-color: #5306c6;
$action-visited-negative-pressed-color: #4405a4;
$action-visited-negative-disabled-color: 66;
$action-visited-main-default-color: #aa74fb;
$action-visited-main-hover-color: #c8a6fc;
$action-visited-main-pressed-color: #dec8fd;
$action-visited-main-disabled-color: 66;
$action-tertiary-negative-default-color: #fbf7ef;
$action-tertiary-negative-hover-color: #f4ecdc;
$action-tertiary-negative-pressed-color: #e4d8be;
$action-tertiary-negative-disabled-color: 66;
$action-tertiary-main-default-color: #4f4121;
$action-tertiary-main-hover-color: #6e5e3a;
$action-tertiary-main-pressed-color: #887959;
$action-tertiary-main-disabled-color: 66;
$action-ghost-negative-default-color: #fff;
$action-ghost-negative-hover-color: #f4ecdc;
$action-ghost-negative-pressed-color: #e4d8be;
$action-ghost-negative-disabled-color: 66;
$action-ghost-main-default-color: #0f0e0b;
$action-ghost-main-hover-color: #4f4121;
$action-ghost-main-pressed-color: #6e5e3a;
$action-ghost-main-disabled-color: 66;
$text-negative-level-1-color: #0f0e0b;
$text-negative-level-2-color: #6e5e3a;
$text-negative-level-3-color: #887959;
$text-negative-level-4-color: #9a9281;
$text-negative-level-5-color: #b6aa90;
$text-negative-primary-accent-color: #a6925f;
$text-main-level-1-color: #fff;
$text-main-level-2-color: #e4d8be;
$text-main-level-3-color: #cfc2a5;
$text-main-level-4-color: #b6aa90;
$text-main-level-5-color: #9a9281;
$text-main-primary-accent-color: #e0d385;
$text-constant-light-level-1-color: #0f0e0b;
$text-constant-light-level-2-color: #6e5e3a;
$text-constant-light-level-3-color: #887959;
$text-constant-light-level-4-color: #9a9281;
$text-constant-light-level-5-color: #b6aa90;
$text-constant-light-primary-accent-color: #a6925f;
$text-constant-dark-level-1-color: #fff;
$text-constant-dark-level-2-color: #e4d8be;
$text-constant-dark-level-3-color: #cfc2a5;
$text-constant-dark-level-4-color: #b6aa90;
$text-constant-dark-level-5-color: #9a9281;
$text-constant-dark-primary-accent-color: #e0d385;
$background-negative-level-1-color: #fff;
$background-negative-level-2-color: #fbf7ef;
$background-negative-level-3-color: #f4ecdc;
$background-negative-level-4-color: #e4d8be;
$background-negative-level-5-color: #cfc2a5;
$background-negative-primary-accent-color: #a6925f;
$background-main-level-1-color: #0f0e0b;
$background-main-level-2-color: #4f4121;
$background-main-level-3-color: #6e5e3a;
$background-main-level-4-color: #887959;
$background-main-level-5-color: #9a9281;
$background-main-primary-accent-color: #e0d385;
$background-constant-light-level-1-color: #fff;
$background-constant-light-level-2-color: #fbf7ef;
$background-constant-light-level-3-color: #f4ecdc;
$background-constant-light-level-4-color: #e4d8be;
$background-constant-light-level-5-color: #cfc2a5;
$background-constant-light-primary-accent1-color: #a6925f;
$background-constant-dark-level-1-color: #0f0e0b;
$background-constant-dark-level-2-color: #4f4121;
$background-constant-dark-level-3-color: #6e5e3a;
$background-constant-dark-level-4-color: #887959;
$background-constant-dark-level-5-color: #9a9281;
$background-constant-dark-primary-accent-color: #e0d385;
$control-negative-background-color: #fff;
$control-negative-border-default-color: #cfc2a5;
$control-negative-border-hover-color: #b6aa90;
$control-negative-active-color: #a6925f;
$control-negative-active-hover-color: #8b7a4e;
$control-main-background-color: #0f0e0b;
$control-main-border-default-color: #887959;
$control-main-border-hover-color: #9a9281;
$control-main-active-color: #e0d385;
$control-main-active-hover-color: #ebe0a2;
$error-negative-background-color: #fef2f2;
$error-negative-text-color: #7f1d1d;
$error-main-background-color: #7f1d1d;
$error-main-text-color: #fef2f2;
$success-negative-background-color: #e0ffee;
$success-negative-text-color: #00612c;
$success-main-background-color: #00612c;
$success-main-text-color: #e0ffee;
$tag-background-1-color: #374151;
$tag-background-2-color: #e5e7eb;
$tag-background-3-color: #713f12;
$tag-background-4-color: #f0fdfa;
$tag-text-1-color: #e5e7eb;
$tag-text-2-color: #374151;
$tag-text-3-color: #fef9c3;
$tag-text-4-color: #134e4a;
$box-shadow-dropdown-main-large: 0 10px 0 20 #ffffff3d;
