$heading-h6-font-family: 'DM Sans';
$heading-h6-font-weight: 700;
$heading-h6-line-height: 112%;
$heading-h6-font-size: 16;
$heading-h6-text-decoration: none;
$heading-h6-text-case: none;
$heading-h6-letter-spacing: -0.015em;
$heading-h5-font-family: 'DM Sans';
$heading-h5-font-weight: 700;
$heading-h5-line-height: 112%;
$heading-h5-font-size: 18;
$heading-h5-text-decoration: none;
$heading-h5-text-case: none;
$heading-h5-letter-spacing: -0.015em;
$heading-h4-font-family: 'DM Sans';
$heading-h4-font-weight: 700;
$heading-h4-line-height: 112%;
$heading-h4-font-size: 22;
$heading-h4-text-decoration: none;
$heading-h4-text-case: none;
$heading-h4-letter-spacing: -0.015em;
$heading-h3-font-family: 'DM Sans';
$heading-h3-font-weight: 700;
$heading-h3-line-height: 112%;
$heading-h3-font-size: 32;
$heading-h3-text-decoration: none;
$heading-h3-text-case: none;
$heading-h3-letter-spacing: -0.015em;
$heading-h2-font-family: 'DM Sans';
$heading-h2-font-weight: 700;
$heading-h2-line-height: 112%;
$heading-h2-font-size: 40;
$heading-h2-text-decoration: none;
$heading-h2-text-case: uppercase;
$heading-h2-letter-spacing: 0.035em;
$heading-h1-font-family: 'DM Sans';
$heading-h1-font-weight: 700;
$heading-h1-line-height: 112%;
$heading-h1-font-size: 48;
$heading-h1-text-decoration: none;
$heading-h1-text-case: uppercase;
$heading-h1-letter-spacing: 0.04em;
$heading-d1-font-family: 'DM Sans';
$heading-d1-font-weight: 700;
$heading-d1-line-height: 112%;
$heading-d1-font-size: 78;
$heading-d1-text-decoration: none;
$heading-d1-text-case: none;
$heading-d1-letter-spacing: -0.015em;
$paragraph-lg-font-family: 'DM Sans';
$paragraph-lg-font-weight: 400;
$paragraph-lg-line-height: 140%;
$paragraph-lg-font-size: 22;
$paragraph-lg-letter-spacing: 0.002em;
$paragraph-lg-highlight-font-family: 'DM Sans';
$paragraph-lg-highlight-font-weight: 500;
$paragraph-lg-highlight-line-height: 140%;
$paragraph-lg-highlight-font-size: 22;
$paragraph-lg-highlight-letter-spacing: 0.002em;
$paragraph-md-font-family: 'DM Sans';
$paragraph-md-font-weight: 400;
$paragraph-md-line-height: 140%;
$paragraph-md-font-size: 19;
$paragraph-md-letter-spacing: 0.002em;
$paragraph-md-highlight-font-family: 'DM Sans';
$paragraph-md-highlight-font-weight: 500;
$paragraph-md-highlight-line-height: 140%;
$paragraph-md-highlight-font-size: 19;
$paragraph-md-highlight-letter-spacing: 0.002em;
$paragraph-sm-font-family: 'DM Sans';
$paragraph-sm-font-weight: 400;
$paragraph-sm-line-height: 140%;
$paragraph-sm-font-size: 16;
$paragraph-sm-letter-spacing: 0.002em;
$paragraph-sm-highlight-font-family: 'DM Sans';
$paragraph-sm-highlight-font-weight: 500;
$paragraph-sm-highlight-line-height: 140%;
$paragraph-sm-highlight-font-size: 16;
$paragraph-sm-highlight-letter-spacing: 0.002em;
$paragraph-tn-font-family: 'DM Sans';
$paragraph-tn-font-weight: 400;
$paragraph-tn-line-height: 140%;
$paragraph-tn-font-size: 14;
$paragraph-tn-letter-spacing: 0.002em;
$paragraph-tn-highlight-font-family: 'DM Sans';
$paragraph-tn-highlight-font-weight: 500;
$paragraph-tn-highlight-line-height: 140%;
$paragraph-tn-highlight-font-size: 14;
$paragraph-tn-highlight-letter-spacing: 0.002em;
$paragraph-mi-font-family: 'DM Sans';
$paragraph-mi-font-weight: 400;
$paragraph-mi-line-height: 140%;
$paragraph-mi-font-size: 12;
$paragraph-mi-letter-spacing: 0.002em;
$paragraph-mi-highlight-font-family: 'DM Sans';
$paragraph-mi-highlight-font-weight: 500;
$paragraph-mi-highlight-line-height: 140%;
$paragraph-mi-highlight-font-size: 12;
$paragraph-mi-highlight-letter-spacing: 0.002em;
$link-l-lg-font-family: 'DM Sans';
$link-l-lg-font-weight: 500;
$link-l-lg-line-height: 140%;
$link-l-lg-font-size: 22;
$link-l-lg-text-decoration: underline;
$link-l-lg-text-case: none;
$link-l-lg-letter-spacing: 0.002em;
$link-l-md-font-family: 'DM Sans';
$link-l-md-font-weight: 500;
$link-l-md-line-height: 140%;
$link-l-md-font-size: 19;
$link-l-md-text-decoration: underline;
$link-l-md-text-case: none;
$link-l-md-letter-spacing: 0.002em;
$link-l-sm-font-family: 'DM Sans';
$link-l-sm-font-weight: 500;
$link-l-sm-line-height: 140%;
$link-l-sm-font-size: 16;
$link-l-sm-text-decoration: underline;
$link-l-sm-text-case: none;
$link-l-sm-letter-spacing: 0.002em;
$link-l-tn-font-family: 'DM Sans';
$link-l-tn-font-weight: 500;
$link-l-tn-line-height: 140%;
$link-l-tn-font-size: 14;
$link-l-tn-text-decoration: underline;
$link-l-tn-text-case: none;
$link-l-tn-letter-spacing: 0.002em;
$link-l-mi-font-family: 'DM Sans';
$link-l-mi-font-weight: 500;
$link-l-mi-line-height: 140%;
$link-l-mi-font-size: 12;
$link-l-mi-text-decoration: underline;
$link-l-mi-text-case: none;
$link-l-mi-letter-spacing: 0.002em;
$button-text-large-font-family: 'DM Sans';
$button-text-large-font-weight: 500;
$button-text-large-line-height: 140%;
$button-text-large-font-size: 16;
$button-text-large-letter-spacing: 0.002em;
$button-icon-large-font-family: 'Font Awesome 6 Pro';
$button-icon-large-font-weight: 400;
$button-icon-large-line-height: normal;
$button-icon-large-font-size: 16;
$button-icon-large-letter-spacing: 0;
$button-text-small-font-family: 'DM Sans';
$button-text-small-font-weight: 500;
$button-text-small-line-height: 140%;
$button-text-small-font-size: 14;
$button-text-small-letter-spacing: 0.002em;
$button-icon-small-font-family: 'Font Awesome 6 Pro';
$button-icon-small-font-weight: 400;
$button-icon-small-line-height: normal;
$button-icon-small-font-size: 14;
$menu-item-md-font-family: 'DM Sans';
$menu-item-md-font-weight: 500;
$menu-item-md-line-height: 112%;
$menu-item-md-font-size: 15;
$menu-item-md-text-decoration: none;
$menu-item-md-text-case: none;
$menu-item-md-letter-spacing: 0.002em;
$menu-item-sm-font-family: 'DM Sans';
$menu-item-sm-font-weight: 500;
$menu-item-sm-line-height: 112%;
$menu-item-sm-font-size: 14;
$menu-item-sm-text-decoration: none;
$menu-item-sm-text-case: none;
$menu-item-sm-letter-spacing: 0.002em;
$icon-i-mi-regular-font-family: 'Font Awesome 6 Pro';
$icon-i-mi-regular-font-weight: 400;
$icon-i-mi-regular-line-height: normal;
$icon-i-mi-regular-font-size: 12;
$icon-i-mi-regular-text-decoration: none;
$icon-i-mi-regular-text-case: none;
$icon-i-tn-regular-font-family: 'Font Awesome 6 Pro';
$icon-i-tn-regular-font-weight: 400;
$icon-i-tn-regular-line-height: normal;
$icon-i-tn-regular-font-size: 14;
$icon-i-tn-regular-text-decoration: none;
$icon-i-tn-regular-text-case: none;
$icon-i-tn-solid-font-family: 'Font Awesome 6 Pro';
$icon-i-tn-solid-font-weight: 900;
$icon-i-tn-solid-line-height: normal;
$icon-i-tn-solid-font-size: 14;
$icon-i-tn-solid-text-decoration: none;
$icon-i-tn-solid-text-case: none;
$icon-i-sm-light-font-family: 'Font Awesome 6 Pro';
$icon-i-sm-light-font-weight: 300;
$icon-i-sm-light-line-height: normal;
$icon-i-sm-light-font-size: 16;
$icon-i-sm-light-text-decoration: none;
$icon-i-sm-light-text-case: none;
$icon-i-sm-brands-font-family: 'Font Awesome 6 Brands';
$icon-i-sm-brands-font-weight: 400;
$icon-i-sm-brands-line-height: normal;
$icon-i-sm-brands-font-size: 16;
$icon-i-sm-brands-text-decoration: none;
$icon-i-sm-brands-text-case: none;
$icon-i-sm-regular-font-family: 'Font Awesome 6 Pro';
$icon-i-sm-regular-font-weight: 400;
$icon-i-sm-regular-line-height: normal;
$icon-i-sm-regular-font-size: 16;
$icon-i-sm-regular-text-decoration: none;
$icon-i-sm-regular-text-case: none;
$icon-i-sm-solid-font-family: 'Font Awesome 6 Pro';
$icon-i-sm-solid-font-weight: 900;
$icon-i-sm-solid-line-height: normal;
$icon-i-sm-solid-font-size: 16;
$icon-i-sm-solid-text-decoration: none;
$icon-i-sm-solid-text-case: none;
$icon-i-md-regular-font-family: 'Font Awesome 6 Pro';
$icon-i-md-regular-font-weight: 400;
$icon-i-md-regular-line-height: normal;
$icon-i-md-regular-font-size: 19;
$icon-i-md-regular-text-decoration: none;
$icon-i-md-regular-text-case: none;
$icon-i-md-solid-font-family: 'Font Awesome 6 Pro';
$icon-i-md-solid-font-weight: 900;
$icon-i-md-solid-line-height: normal;
$icon-i-md-solid-font-size: 19;
$icon-i-md-solid-text-decoration: none;
$icon-i-md-solid-text-case: none;
$icon-i-lg-light-font-family: 'Font Awesome 6 Pro';
$icon-i-lg-light-font-weight: 300;
$icon-i-lg-light-line-height: normal;
$icon-i-lg-light-font-size: 22;
$icon-i-lg-light-text-decoration: none;
$icon-i-lg-light-text-case: none;
$icon-i-lg-regular-font-family: 'Font Awesome 6 Pro';
$icon-i-lg-regular-font-weight: 400;
$icon-i-lg-regular-line-height: normal;
$icon-i-lg-regular-font-size: 22;
$icon-i-lg-regular-text-decoration: none;
$icon-i-lg-regular-text-case: none;
$icon-i-lg-solid-font-family: 'Font Awesome 6 Pro';
$icon-i-lg-solid-font-weight: 900;
$icon-i-lg-solid-line-height: normal;
$icon-i-lg-solid-font-size: 22;
$icon-i-lg-solid-text-decoration: none;
$icon-i-lg-solid-text-case: none;
$icon-i-lg-brands-font-family: 'Font Awesome 6 Brands';
$icon-i-lg-brands-font-weight: 400;
$icon-i-lg-brands-line-height: normal;
$icon-i-lg-brands-font-size: 22;
$icon-i-lg-brands-text-decoration: none;
$icon-i-lg-brands-text-case: none;
$icon-i-h3-light-font-family: 'Font Awesome 6 Pro';
$icon-i-h3-light-font-weight: 300;
$icon-i-h3-light-line-height: normal;
$icon-i-h3-light-font-size: 32;
$icon-i-h3-light-text-decoration: none;
$icon-i-h3-light-text-case: none;
$icon-i-h3-regular-font-family: 'Font Awesome 6 Pro';
$icon-i-h3-regular-font-weight: 400;
$icon-i-h3-regular-line-height: normal;
$icon-i-h3-regular-font-size: 32;
$icon-i-h3-regular-text-decoration: none;
$icon-i-h3-regular-text-case: none;
$icon-i-h3-solid-font-family: 'Font Awesome 6 Pro';
$icon-i-h3-solid-font-weight: 900;
$icon-i-h3-solid-line-height: normal;
$icon-i-h3-solid-font-size: 32;
$icon-i-h3-solid-text-decoration: none;
$icon-i-h3-solid-text-case: none;
$icon-i-h3-brands-font-family: 'Font Awesome 6 Brands';
$icon-i-h3-brands-font-weight: 400;
$icon-i-h3-brands-line-height: normal;
$icon-i-h3-brands-font-size: 32;
$icon-i-h3-brands-text-decoration: none;
$icon-i-h3-brands-text-case: none;
$spacing-first-tire-micro: 4;
$spacing-first-tire-tiny: 8;
$spacing-first-tire-small: 12;
$spacing-first-tire-medium: 16;
$spacing-first-tire-large: 20;
$spacing-first-tire-x-large: 24;
$spacing-second-tire-micro: 16;
$spacing-second-tire-tiny: 24;
$spacing-second-tire-small: 32;
$spacing-second-tire-medium: 40;
$spacing-second-tire-large: 60;
$spacing-second-tire-x-large: 100;
$spacing-text-d1: 18;
$spacing-text-h1: 18;
$spacing-text-h2: 16;
$spacing-text-h3: 14;
$spacing-text-h4: 12;
$spacing-text-h5: 10;
$spacing-text-h6: 8;
$spacing-text-lg: 16;
$spacing-text-md: 14;
$spacing-text-sm: 12;
$spacing-text-tn: 10;
$spacing-text-mi: 8;
