@use 'core-color-main' as main;
@use 'core-color-negative' as negative;

$theme-colors: (
	main: (
		'action-primary-main-default-color': #{main.$action-primary-main-default-color},
		'action-primary-main-hover-color': #{main.$action-primary-main-hover-color},
		'action-primary-main-pressed-color': #{main.$action-primary-main-pressed-color},
		'action-primary-negative-default-color': #{main.$action-primary-negative-default-color},
		'action-primary-negative-hover-color': #{main.$action-primary-negative-hover-color},
		'action-primary-negative-pressed-color': #{main.$action-primary-negative-pressed-color},
		'action-visited-main-default-color': #{main.$action-visited-main-default-color},
		'action-visited-main-hover-color': #{main.$action-visited-main-hover-color},
		'action-visited-main-pressed-color': #{main.$action-visited-main-pressed-color},
		'action-visited-negative-default-color': #{main.$action-visited-negative-default-color},
		'action-visited-negative-hover-color': #{main.$action-visited-negative-hover-color},
		'action-visited-negative-pressed-color': #{main.$action-visited-negative-pressed-color},
		'action-tertiary-main-default-color': #{main.$action-tertiary-main-default-color},
		'action-tertiary-main-hover-color': #{main.$action-tertiary-main-hover-color},
		'action-tertiary-main-pressed-color': #{main.$action-tertiary-main-pressed-color},
		'action-tertiary-negative-default-color': #{main.$action-tertiary-negative-default-color},
		'action-tertiary-negative-hover-color': #{main.$action-tertiary-negative-hover-color},
		'action-tertiary-negative-pressed-color': #{main.$action-tertiary-negative-pressed-color},
		'action-ghost-main-default-color': #{main.$action-ghost-main-default-color},
		'action-ghost-main-hover-color': #{main.$action-ghost-main-hover-color},
		'action-ghost-main-pressed-color': #{main.$action-ghost-main-pressed-color},
		'action-ghost-negative-default-color': #{main.$action-ghost-negative-default-color},
		'action-ghost-negative-hover-color': #{main.$action-ghost-negative-hover-color},
		'action-ghost-negative-pressed-color': #{main.$action-ghost-negative-pressed-color},
		// 'action-secondary-main-default-color': #{main.$action-secondary-main-default-color},
		// 'action-secondary-main-hover-color': #{main.$action-secondary-main-hover-color},
		// 'action-secondary-main-pressed-color': #{main.$action-secondary-main-pressed-color},
		// 'action-secondary-negative-default-color': #{main.$action-secondary-negative-default-color},
		// 'action-secondary-negative-hover-color': #{main.$action-secondary-negative-hover-color},
		// 'action-secondary-negative-pressed-color': #{main.$action-secondary-negative-pressed-color},
		// 'action-message-bar-main-default-color': #{main.$action-message-bar-main-default-color},
		// 'action-message-bar-main-hover-color': #{main.$action-message-bar-main-hover-color},
		// 'action-message-bar-main-pressed-color': #{main.$action-message-bar-main-pressed-color},
		// 'action-message-bar-main-disabled-color': #{main.$action-message-bar-main-disabled-color},
		// 'action-message-bar-negative-default-color': #{main.$action-message-bar-negative-default-color},
		// 'action-message-bar-negative-hover-color': #{main.$action-message-bar-negative-hover-color},
		// 'action-message-bar-negative-pressed-color': #{main.$action-message-bar-negative-pressed-color},
		// 'action-message-bar-negative-disabled-color': #{main.$action-message-bar-negative-disabled-color},
		'text-main-level-1-color': #{main.$text-main-level-1-color},
		'text-main-level-2-color': #{main.$text-main-level-2-color},
		'text-main-level-3-color': #{main.$text-main-level-3-color},
		'text-main-level-4-color': #{main.$text-main-level-4-color},
		'text-main-level-5-color': #{main.$text-main-level-5-color},
		'text-main-primary-accent-color': #{main.$text-main-primary-accent-color},
		// 'text-main-secondary-accent-color': #{main.$text-main-secondary-accent-color},
		'text-negative-level-1-color': #{main.$text-negative-level-1-color},
		'text-negative-level-2-color': #{main.$text-negative-level-2-color},
		'text-negative-level-3-color': #{main.$text-negative-level-3-color},
		'text-negative-level-4-color': #{main.$text-negative-level-4-color},
		'text-negative-level-5-color': #{main.$text-negative-level-5-color},
		'text-negative-primary-accent-color': #{main.$text-negative-primary-accent-color},
		// 'text-negative-secondary-accent-color': #{main.$text-negative-secondary-accent-color},
		'text-constant-light-level-1-color': #{main.$text-constant-light-level-1-color},
		'text-constant-light-level-2-color': #{main.$text-constant-light-level-2-color},
		'text-constant-light-level-3-color': #{main.$text-constant-light-level-3-color},
		'text-constant-light-level-4-color': #{main.$text-constant-light-level-4-color},
		'text-constant-light-level-5-color': #{main.$text-constant-light-level-5-color},
		'text-constant-light-primary-accent-color': #{main.$text-constant-light-primary-accent-color},
		// 'text-constant-light-secondary-accent-color': #{main.$text-constant-light-secondary-accent-color},
		'text-constant-dark-level-1-color': #{main.$text-constant-dark-level-1-color},
		'text-constant-dark-level-2-color': #{main.$text-constant-dark-level-2-color},
		'text-constant-dark-level-3-color': #{main.$text-constant-dark-level-3-color},
		'text-constant-dark-level-4-color': #{main.$text-constant-dark-level-4-color},
		'text-constant-dark-level-5-color': #{main.$text-constant-dark-level-5-color},
		'text-constant-dark-primary-accent-color': #{main.$text-constant-dark-primary-accent-color},
		// 'text-constant-dark-secondary-accent-color': #{main.$text-constant-dark-secondary-accent-color},
		'background-main-level-1-color': #{main.$background-main-level-1-color},
		'background-main-level-2-color': #{main.$background-main-level-2-color},
		'background-main-level-3-color': #{main.$background-main-level-3-color},
		'background-main-level-4-color': #{main.$background-main-level-4-color},
		'background-main-level-5-color': #{main.$background-main-level-5-color},
		'background-main-primary-accent-color': #{main.$background-main-primary-accent-color},
		// 'background-main-secondary-accent-color': #{main.$background-main-secondary-accent-color},
		'background-negative-level-1-color': #{main.$background-negative-level-1-color},
		'background-negative-level-2-color': #{main.$background-negative-level-2-color},
		'background-negative-level-3-color': #{main.$background-negative-level-3-color},
		'background-negative-level-4-color': #{main.$background-negative-level-4-color},
		'background-negative-level-5-color': #{main.$background-negative-level-5-color},
		'background-negative-primary-accent-color': #{main.$background-negative-primary-accent-color},
		// 'background-negative-secondary-accent-color': #{main.$background-negative-secondary-accent-color},
		'background-constant-light-level-1-color': #{main.$background-constant-light-level-1-color},
		'background-constant-light-level-2-color': #{main.$background-constant-light-level-2-color},
		'background-constant-light-level-3-color': #{main.$background-constant-light-level-3-color},
		'background-constant-light-level-4-color': #{main.$background-constant-light-level-4-color},
		'background-constant-light-level-5-color': #{main.$background-constant-light-level-5-color},
		'background-constant-light-primary-accent1-color': #{main.$background-constant-light-primary-accent1-color},
		// 'background-constant-light-secondary-accent-color': #{main.$background-constant-light-secondary-accent-color},
		'background-constant-dark-level-1-color': #{main.$background-constant-dark-level-1-color},
		'background-constant-dark-level-2-color': #{main.$background-constant-dark-level-2-color},
		'background-constant-dark-level-3-color': #{main.$background-constant-dark-level-3-color},
		'background-constant-dark-level-4-color': #{main.$background-constant-dark-level-4-color},
		'background-constant-dark-level-5-color': #{main.$background-constant-dark-level-5-color},
		'background-constant-dark-primary-accent-color': #{main.$background-constant-dark-primary-accent-color},
		// 'background-constant-dark-secondary-accent-color': #{main.$background-constant-dark-secondary-accent-color},
		'control-main-background-color': #{main.$control-main-background-color},
		'control-main-border-default-color': #{main.$control-main-border-default-color},
		'control-main-border-hover-color': #{main.$control-main-border-hover-color},
		'control-main-active-color': #{main.$control-main-active-color},
		'control-main-active-hover-color': #{main.$control-main-active-hover-color},
		'control-negative-background-color': #{main.$control-negative-background-color},
		'control-negative-border-default-color': #{main.$control-negative-border-default-color},
		'control-negative-border-hover-color': #{main.$control-negative-border-hover-color},
		'control-negative-active-color': #{main.$control-negative-active-color},
		'control-negative-active-hover-color': #{main.$control-negative-active-hover-color},
		'error-main-background-color': #{main.$error-main-background-color},
		'error-main-text-color': #{main.$error-main-text-color},
		'error-negative-background-color': #{main.$error-negative-background-color},
		'error-negative-text-color': #{main.$error-negative-text-color},
		'success-main-background-color': #{main.$success-main-background-color},
		'success-main-text-color': #{main.$success-main-text-color},
		'success-negative-background-color': #{main.$success-negative-background-color},
		'success-negative-text-color': #{main.$success-negative-text-color},
		'tag-background-1-color': #{main.$tag-background-1-color},
		'tag-background-2-color': #{main.$tag-background-2-color},
		'tag-background-3-color': #{main.$tag-background-3-color},
		'tag-background-4-color': #{main.$tag-background-4-color},
		'tag-text-1-color': #{main.$tag-text-1-color},
		'tag-text-2-color': #{main.$tag-text-2-color},
		'tag-text-3-color': #{main.$tag-text-3-color},
		'tag-text-4-color': #{main.$tag-text-4-color},
		// 'alias-background-main-footer-color': #{main.$alias-background-main-footer-color},
		// 'alias-background-main-accent-hero-1-color': #{main.$alias-background-main-accent-hero-1-color},
		// 'alias-background-main-accent-hero-2-color': #{main.$alias-background-main-accent-hero-2-color},
		// 'alias-background-main-accent-section-1-color': #{main.$alias-background-main-accent-section-1-color},
		// 'alias-background-main-accent-section-2-color': #{main.$alias-background-main-accent-section-2-color},
		// 'alias-background-negative-footer-color': #{main.$alias-background-negative-footer-color},
		// 'alias-background-negative-accent-hero-1-color': #{main.$alias-background-negative-accent-hero-1-color},
		// 'alias-background-negative-accent-hero-2-color': #{main.$alias-background-negative-accent-hero-2-color},
		// 'alias-background-negative-accent-section-1-color': #{main.$alias-background-negative-accent-section-1-color},
		// 'alias-background-negative-accent-section-2-color': #{main.$alias-background-negative-accent-section-2-color},
		// 'box-shadow-dropdown-main-large': #{main.$box-shadow-dropdown-main-large},,,
	),
	negative: (
		'action-primary-main-default-color': #{negative.$action-primary-main-default-color},
		'action-primary-main-hover-color': #{negative.$action-primary-main-hover-color},
		'action-primary-main-pressed-color': #{negative.$action-primary-main-pressed-color},
		'action-primary-negative-default-color': #{negative.$action-primary-negative-default-color},
		'action-primary-negative-hover-color': #{negative.$action-primary-negative-hover-color},
		'action-primary-negative-pressed-color': #{negative.$action-primary-negative-pressed-color},
		'action-visited-main-default-color': #{negative.$action-visited-main-default-color},
		'action-visited-main-hover-color': #{negative.$action-visited-main-hover-color},
		'action-visited-main-pressed-color': #{negative.$action-visited-main-pressed-color},
		'action-visited-negative-default-color': #{negative.$action-visited-negative-default-color},
		'action-visited-negative-hover-color': #{negative.$action-visited-negative-hover-color},
		'action-visited-negative-pressed-color': #{negative.$action-visited-negative-pressed-color},
		'action-tertiary-main-default-color': #{negative.$action-tertiary-main-default-color},
		'action-tertiary-main-hover-color': #{negative.$action-tertiary-main-hover-color},
		'action-tertiary-main-pressed-color': #{negative.$action-tertiary-main-pressed-color},
		'action-tertiary-negative-default-color': #{negative.$action-tertiary-negative-default-color},
		'action-tertiary-negative-hover-color': #{negative.$action-tertiary-negative-hover-color},
		'action-tertiary-negative-pressed-color': #{negative.$action-tertiary-negative-pressed-color},
		'action-ghost-main-default-color': #{negative.$action-ghost-main-default-color},
		'action-ghost-main-hover-color': #{negative.$action-ghost-main-hover-color},
		'action-ghost-main-pressed-color': #{negative.$action-ghost-main-pressed-color},
		'action-ghost-negative-default-color': #{negative.$action-ghost-negative-default-color},
		'action-ghost-negative-hover-color': #{negative.$action-ghost-negative-hover-color},
		'action-ghost-negative-pressed-color': #{negative.$action-ghost-negative-pressed-color},
		// 'action-secondary-main-default-color': #{negative.$action-secondary-main-default-color},
		// 'action-secondary-main-hover-color': #{negative.$action-secondary-main-hover-color},
		// 'action-secondary-main-pressed-color': #{negative.$action-secondary-main-pressed-color},
		// 'action-secondary-negative-default-color': #{negative.$action-secondary-negative-default-color},
		// 'action-secondary-negative-hover-color': #{negative.$action-secondary-negative-hover-color},
		// 'action-secondary-negative-pressed-color': #{negative.$action-secondary-negative-pressed-color},
		// 'action-message-bar-main-default-color': #{negative.$action-message-bar-main-default-color},
		// 'action-message-bar-main-hover-color': #{negative.$action-message-bar-main-hover-color},
		// 'action-message-bar-main-pressed-color': #{negative.$action-message-bar-main-pressed-color},
		// 'action-message-bar-main-disabled-color': #{negative.$action-message-bar-main-disabled-color},
		// 'action-message-bar-negative-default-color': #{negative.$action-message-bar-negative-default-color},
		// 'action-message-bar-negative-hover-color': #{negative.$action-message-bar-negative-hover-color},
		// 'action-message-bar-negative-pressed-color': #{negative.$action-message-bar-negative-pressed-color},
		// 'action-message-bar-negative-disabled-color': #{negative.$action-message-bar-negative-disabled-color},
		'text-main-level-1-color': #{negative.$text-main-level-1-color},
		'text-main-level-2-color': #{negative.$text-main-level-2-color},
		'text-main-level-3-color': #{negative.$text-main-level-3-color},
		'text-main-level-4-color': #{negative.$text-main-level-4-color},
		'text-main-level-5-color': #{negative.$text-main-level-5-color},
		'text-main-primary-accent-color': #{negative.$text-main-primary-accent-color},
		// 'text-main-secondary-accent-color': #{negative.$text-main-secondary-accent-color},
		'text-negative-level-1-color': #{negative.$text-negative-level-1-color},
		'text-negative-level-2-color': #{negative.$text-negative-level-2-color},
		'text-negative-level-3-color': #{negative.$text-negative-level-3-color},
		'text-negative-level-4-color': #{negative.$text-negative-level-4-color},
		'text-negative-level-5-color': #{negative.$text-negative-level-5-color},
		'text-negative-primary-accent-color': #{negative.$text-negative-primary-accent-color},
		// 'text-negative-secondary-accent-color': #{negative.$text-negative-secondary-accent-color},
		'text-constant-light-level-1-color': #{negative.$text-constant-light-level-1-color},
		'text-constant-light-level-2-color': #{negative.$text-constant-light-level-2-color},
		'text-constant-light-level-3-color': #{negative.$text-constant-light-level-3-color},
		'text-constant-light-level-4-color': #{negative.$text-constant-light-level-4-color},
		'text-constant-light-level-5-color': #{negative.$text-constant-light-level-5-color},
		'text-constant-light-primary-accent-color': #{negative.$text-constant-light-primary-accent-color},
		// 'text-constant-light-secondary-accent-color': #{negative.$text-constant-light-secondary-accent-color},
		'text-constant-dark-level-1-color': #{negative.$text-constant-dark-level-1-color},
		'text-constant-dark-level-2-color': #{negative.$text-constant-dark-level-2-color},
		'text-constant-dark-level-3-color': #{negative.$text-constant-dark-level-3-color},
		'text-constant-dark-level-4-color': #{negative.$text-constant-dark-level-4-color},
		'text-constant-dark-level-5-color': #{negative.$text-constant-dark-level-5-color},
		'text-constant-dark-primary-accent-color': #{negative.$text-constant-dark-primary-accent-color},
		// 'text-constant-dark-secondary-accent-color': #{negative.$text-constant-dark-secondary-accent-color},
		'background-main-level-1-color': #{negative.$background-main-level-1-color},
		'background-main-level-2-color': #{negative.$background-main-level-2-color},
		'background-main-level-3-color': #{negative.$background-main-level-3-color},
		'background-main-level-4-color': #{negative.$background-main-level-4-color},
		'background-main-level-5-color': #{negative.$background-main-level-5-color},
		'background-main-primary-accent-color': #{negative.$background-main-primary-accent-color},
		// 'background-main-secondary-accent-color': #{negative.$background-main-secondary-accent-color},
		'background-negative-level-1-color': #{negative.$background-negative-level-1-color},
		'background-negative-level-2-color': #{negative.$background-negative-level-2-color},
		'background-negative-level-3-color': #{negative.$background-negative-level-3-color},
		'background-negative-level-4-color': #{negative.$background-negative-level-4-color},
		'background-negative-level-5-color': #{negative.$background-negative-level-5-color},
		'background-negative-primary-accent-color': #{negative.$background-negative-primary-accent-color},
		// 'background-negative-secondary-accent-color': #{negative.$background-negative-secondary-accent-color},
		'background-constant-light-level-1-color': #{negative.$background-constant-light-level-1-color},
		'background-constant-light-level-2-color': #{negative.$background-constant-light-level-2-color},
		'background-constant-light-level-3-color': #{negative.$background-constant-light-level-3-color},
		'background-constant-light-level-4-color': #{negative.$background-constant-light-level-4-color},
		'background-constant-light-level-5-color': #{negative.$background-constant-light-level-5-color},
		'background-constant-light-primary-accent1-color': #{negative.$background-constant-light-primary-accent1-color},
		// 'background-constant-light-secondary-accent-color': #{negative.$background-constant-light-secondary-accent-color},
		'background-constant-dark-level-1-color': #{negative.$background-constant-dark-level-1-color},
		'background-constant-dark-level-2-color': #{negative.$background-constant-dark-level-2-color},
		'background-constant-dark-level-3-color': #{negative.$background-constant-dark-level-3-color},
		'background-constant-dark-level-4-color': #{negative.$background-constant-dark-level-4-color},
		'background-constant-dark-level-5-color': #{negative.$background-constant-dark-level-5-color},
		'background-constant-dark-primary-accent-color': #{negative.$background-constant-dark-primary-accent-color},
		// 'background-constant-dark-secondary-accent-color': #{negative.$background-constant-dark-secondary-accent-color},
		'control-main-background-color': #{negative.$control-main-background-color},
		'control-main-border-default-color': #{negative.$control-main-border-default-color},
		'control-main-border-hover-color': #{negative.$control-main-border-hover-color},
		'control-main-active-color': #{negative.$control-main-active-color},
		'control-main-active-hover-color': #{negative.$control-main-active-hover-color},
		'control-negative-background-color': #{negative.$control-negative-background-color},
		'control-negative-border-default-color': #{negative.$control-negative-border-default-color},
		'control-negative-border-hover-color': #{negative.$control-negative-border-hover-color},
		'control-negative-active-color': #{negative.$control-negative-active-color},
		'control-negative-active-hover-color': #{negative.$control-negative-active-hover-color},
		'error-main-background-color': #{negative.$error-main-background-color},
		'error-main-text-color': #{negative.$error-main-text-color},
		'error-negative-background-color': #{negative.$error-negative-background-color},
		'error-negative-text-color': #{negative.$error-negative-text-color},
		'success-main-background-color': #{negative.$success-main-background-color},
		'success-main-text-color': #{negative.$success-main-text-color},
		'success-negative-background-color': #{negative.$success-negative-background-color},
		'success-negative-text-color': #{negative.$success-negative-text-color},
		'tag-background-1-color': #{negative.$tag-background-1-color},
		'tag-background-2-color': #{negative.$tag-background-2-color},
		'tag-background-3-color': #{negative.$tag-background-3-color},
		'tag-background-4-color': #{negative.$tag-background-4-color},
		'tag-text-1-color': #{negative.$tag-text-1-color},
		'tag-text-2-color': #{negative.$tag-text-2-color},
		'tag-text-3-color': #{negative.$tag-text-3-color},
		'tag-text-4-color': #{negative.$tag-text-4-color},
		// 'alias-background-main-footer-color': #{negative.$alias-background-main-footer-color},
		// 'alias-background-main-accent-hero-1-color': #{negative.$alias-background-main-accent-hero-1-color},
		// 'alias-background-main-accent-hero-2-color': #{negative.$alias-background-main-accent-hero-2-color},
		// 'alias-background-main-accent-section-1-color': #{negative.$alias-background-main-accent-section-1-color},
		// 'alias-background-main-accent-section-2-color': #{negative.$alias-background-main-accent-section-2-color},
		// 'alias-background-negative-footer-color': #{negative.$alias-background-negative-footer-color},
		// 'alias-background-negative-accent-hero-1-color': #{negative.$alias-background-negative-accent-hero-1-color},
		// 'alias-background-negative-accent-hero-2-color': #{negative.$alias-background-negative-accent-hero-2-color},
		// 'alias-background-negative-accent-section-1-color': #{negative.$alias-background-negative-accent-section-1-color},
		// 'alias-background-negative-accent-section-2-color': #{negative.$alias-background-negative-accent-section-2-color},
		// 'box-shadow-dropdown-main-large': #{negative.$box-shadow-dropdown-main-large},,
	),
);
