@use '../../00_cores/' as *;
@use '../../01_settings/' as *;
@use '../../02_tools/' as *;

/**
    [ === Header ===
**/

#header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	max-width: none;

	[class^='module-'] {
		margin-top: 0;
	}
}

#main-header {
	position: relative;
	padding: size(16) 0;
	transition: $trns-base;

	> .row {
		flex-wrap: nowrap;
		gap: normal normal;
		align-items: center;
		justify-content: space-between;
		padding: 0;

		> .col {
			&:last-child {
				text-align: right;
			}
			@include bp-max(md) {
				grid-column: span 6;
			}
		}
	}

	.menu-item {
		display: inline-block;
		padding: 0 $size-10;
		margin-bottom: 0;

		a {
			display: block;
			padding: $size-10;
			font-family: $menu-item-md-font-family;
			font-size: $menu-item-md-font-size;
			font-weight: $menu-item-md-font-weight;
			line-height: $menu-item-md-line-height;
			color: var(--text-main-level-1-color);
			text-decoration: none;
			letter-spacing: $menu-item-md-letter-spacing;
		}

		& a:hover {
			color: var(--action-primary-main-default-color);
		}

		.sub-menu {
			position: absolute;
			top: 100%;
			right: 0;
			width: max-content;
			min-width: size(100, 150);
			padding: 0;
			visibility: hidden;
			border: 1px solid rgb(0 0 0 / 30%);
			opacity: 0;
			transition: $trns-base;

			li {
				display: block;
			}
		}

		&.menu-item-has-children:hover .sub-menu {
			visibility: visible;
			opacity: 1;
		}
	}

	@include bp-max(lg) {
		.module-menu {
			display: none;
		}
	}
}

#logo {
	position: relative;
	z-index: 2;
	width: size(115, 136);

	:is(img, svg) {
		width: 100%;
		height: auto;
	}
}

/**
    === End Header === ]
**/
