@use '../../01_settings/' as *;
@use '../../02_tools/' as *;

#header {
	position: fixed;

	&.scrolled #main-header {
		padding: size(10) 0;
		background: var(--background-main-level-1-color);
	}

	&.nav-down #main-header {
		transition: all 0.4s ease-in-out;

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: '';
			background: var(--white);
		}
	}

	&.nav-up {
		pointer-events: none;

		#main-header {
			transition: all 0.4s ease-in-out;
			transform: translateY(-120%);
		}
	}
}
