@use '../00_cores/' as *;
@use '../01_settings/' as *;
@use '../02_tools/' as *;

body {
	font-family: $paragraph-md-highlight-font-family;
	font-size: fs($paragraph-md-highlight-font-size);
	font-weight: $paragraph-md-highlight-font-weight;
	line-height: $paragraph-md-highlight-line-height;
	color: var(--text-main-level-3-color);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

::selection {
	background: gt-rgba('selection', 0.3);
}

#main > .section:first-child {
	padding-top: size(40, 108);
}

.scroll-to-top {
	background: var(--action-primary-main-default-color);

	&:hover {
		background: var(--action-primary-main-hover-color);
	}
}
