@use '../../01_settings/' as *;
@use '../../02_tools/' as *;
@use '../../05_helpers/spinners' as *;

.module-listing {
	.listing-post {
		transition: opacity 0.2s ease-in-out;
	}

	&.loading {
		.listing-items-wrapper {
			&::after {
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				font-family: $ff-fa;
				font-size: $size-40;
				color: var(--black);
				content: '\f110';
				-webkit-animation: spinn-loader 0.5s linear infinite;
				        animation: spinn-loader 0.5s linear infinite;
			}

			.listing-post {
				opacity: 0.3;
			}
		}
	}
}
